{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% block content %}
    <div class="m-2 p-3 ">

        <ul class="breadcrumb top_row">
            <li>字数管理</li>
            <li class="active">字数查询</li>
        </ul>

        <br>
        <table class="table table-hover shadow table-bordered align-middle">
            <thead>
            <tr>
                <td class="text-bg-secondary" style="width:60px">id</td>
                <td class="text-bg-secondary" style="width:240px">输入时间</td>
                <td class="text-bg-secondary">合同名称</td>
                <td class="text-bg-secondary" style="width:120px">字数</td>
                <td class="text-bg-secondary" style="width:80px">状态</td>
                <td class="text-bg-secondary" style="width:80px">录入</td>
                <td class="text-bg-secondary" style="width:80px">审核</td>
                <td class="text-bg-secondary" style="width:180px">发生日期</td>
            </tr>
            </thead>
            <tbody>
            {% if pagination.items %}
                {% for item in pagination.items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.create_datetime|short_time }}</td>
                        <td>{{ item.order_id | replace_ordername }}</td>
                        <td>{{ item.wordnumber }}</td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.iuser_id | replace_username }}</td>
                        <td>{{ item.cuser_id | replace_username }}</td>
                        <td>{{ item.feedate.strftime('%Y-%m-%d') }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="8">没有查到相关数据</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <br>
        <div class="page-footer">{{ render_pagination(pagination,align='center') }}</div>
    </div>
{% endblock %}