{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% block content %}
    <div class="m-2 p-3 ">
        <ul class="breadcrumb top_row">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('words_admin.order_search') }}">合同查询</a></li>
            <li class="active">字数输入</li>
        </ul>
        <br>
        <table class="table table-hover shadow table-bordered align-middle">
            <tbody>
            <tr>
                <td style="width:180px;">合同名称</td>
                <td colspan="3">{{ order.title }}</td>
            </tr>
            <tr>
                <td>合同编号</td>
                <td>{{ order.ordernumber }}</td>
                <td>己发字数：{{ order.wordcount }}</td>
                <td>合同字数：{{ order.wordnumber }}</td>
            </tr>
            </tbody>
        </table>
        <br>

        <table class="table table-hover shadow table-bordered align-middle">
            <thead>
            <tr>
                <td class="text-bg-secondary" style="width:60px">id</td>
                <td class="text-bg-secondary" style="width:240px">输入时间</td>
                <td class="text-bg-secondary">发生额</td>
                <td class="text-bg-secondary">状态</td>
                <td class="text-bg-secondary">录入</td>
                <td class="text-bg-secondary">审核</td>
                <td class="text-bg-secondary" style="width:180px">发生日期</td>
            </tr>
            </thead>
            <tbody>
            {% if pagination.items %}
                {% for item in pagination.items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.create_datetime }}</td>
                        <td>{{ item.wordnumber }}</td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.iuser_id | replace_username }}</td>
                        <td>{{ item.cuser_id | replace_username }}</td>
                        <td>{{ item.feedate.strftime('%Y-%m-%d') }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="7">{{ render_pagination(pagination,align='center') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">没有查到相关数据</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <br>

        <form action="" role="form" method="post">
            {{ form.csrf_token }}
            <fieldset>
                <legend>字数输入</legend>
                <div class="form-control">
                    {{ form.words.label }}
                    {{ form.words() }}
                    {% for message in form.words.errors %}
                        <small class="error">{{ message }}</small>
                    {% endfor %}
                </div>
                <div class="form-control">
                    {{ form.fee_date.label }}
                    {{ form.fee_date() }}
                    {% for message in form.words.errors %}
                        <small class="error">{{ message }}</small>
                    {% endfor %}
                </div>
                <div class="form-control">
                    {{ form.notes.label }}
                    {{ form.notes() }}
                </div>
            </fieldset>
            {{ form.submit }}
        </form>
    </div>
{% endblock %}