{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% block content %}
    <div class="m-2 p-3 ">
        <link rel="stylesheet" href="{{ url_for('static',filename='autocomplete/autoComplete.min.css') }}">
        <script src=" {{ url_for('static',filename='autocomplete/autoComplete.min.js') }}"></script>

        <h3>收款数据{% if f4.id %}修改{% else %}新增{% endif %}</h3>
        <!---新增窗口--->

        <div class="">
            <form id="paid_form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" id="hidden_names" value='{{ names }}'/>
                <input type="hidden" id="hidden_ids" value='{{ ids }}'/>
                <input type="hidden" id="fid" name="fid" value="{{ f4.id }}"/>
                <table class="table align-middle">
                    <tr>
                        <td><strong class="text-danger">合同</strong></td>
                        <td colspan="">
                            <div class="autoComplete_wrapper">
                                <input id="autoComplete" type="search" dir="ltr" spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off" class="input-border-radius" required value="{{ o.title }}" {% if f4.id %}readonly{% endif %}>
                                <input id="order_id" name="order_id" type="hidden" value="{{ f4.order_id }}"/>
                            </div>
                            <script src=" {{ url_for('static',filename='js/paid_add.js') }}"></script>
                        </td>
                    </tr>
                    <tr>
                        <td><strong class="text-danger">金额</strong></td>
                        <td>
                            <input class="form-control" type="number" name="fee" id="fee" step="0.05" required value="{{ f4.fee }}"/>
                        </td>
                    </tr>
                    <tr>
                        <td><strong class="text-danger">日期</strong></td>
                        <td>
                            <input class="form-control" type="date" name="feedate" id="feedate" pattern="\d{4}-\d{2}-\d{2}" required value="{{ f4.feedate }}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>附件</td>
                        <td>
                            {% if f4.filename %}
                                <label class="form-label"><a href="/paid/download?pid={{ f4.id }}" target="_blank"> {{ f4.filename }} </a></label>
                            {% endif %}
                            <input class="form-control" type="file" name="filename" accept=".doc, .docx, .pdf"/>
                        </td>
                    </tr>
                    <tr>
                        <td>备注</td>
                        <td>
                            <input class="form-control" type="text" name="notes" value="{{ f4.notes }}"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="d-grid">
                                <a class="btn btn-outline-primary" role="button" onclick="paid_add()">保存</a>
                            </div>
                        </td>
                    </tr>
                </table>
                <span id="info40" style="text-align: center;color: red;"></span>
            </form>
        </div>


    </div>
{% endblock %}