{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% block content %}
    <div class="m-2 p-3 ">
        <ul class="breadcrumb top_row">
            <li>收付款审核</li>
            <li><a href="{{ url_for('fee345.order_search_audit') }}">合同查询</a></li>
            <li class="active">到帐金额审核</li>
        </ul>

 <table class="table table-hover shadow table-bordered align-middle">
        <tbody>
        <tr>
            <td colspan="4">合同名称：{{ order.title }}</td>
        </tr>
        <tr>
            <td style="width:330px;">录入员：{{ order.iuser_id | replace_username }}</td>
            <td style="width:350px;">签约日期：{{ order.contract_date }}</td>
            <td style="width:330px;">合同状态：{{ order.status }}</td>
            <td>合同编号：{{ order.ordernumber }}</td>
        </tr>
        <tr>
            <td>己刊登面积：{{ order.area }}</td>
            <td>合同金额：{{ order.Fee11 }}</td>
            <td>发票金额：{{ order.Fee31 }}</td>
            <td>己发放绩效刊登额：{{ order.Fee51 }}</td>
        </tr>
        <tr>
            <td>己发字数：{{ order.wordcount }}/赠送字数：{{ order.wordnumber }}</td>
            <td>刊登金额：{{ order.Fee21 }}/{{ order.Fee11 }}</td>
            <td>到帐金额：{{ order.Fee41 }}</td>
            <td>己发放绩效额：{{ order.Fee61 }}</td>
        </tr>
        </tbody>
    </table>
        <table class="table table-hover shadow table-bordered align-middle">
            <thead>
            <tr>
                <td class="text-bg-secondary" style="width:60px">id</td>
                <td class="text-bg-secondary" style="width:150px">输入时间</td>
                <td class="text-bg-secondary">备注</td>
                <td class="text-bg-secondary" style="width:120px">发生额</td>
                <td class="text-bg-secondary" style="width:80px">状态</td>
                <td class="text-bg-secondary" style="width:130px">录入</td>
                <td class="text-bg-secondary" style="width:130px">审核</td>
                <td class="text-bg-secondary" style="width:90px">附件</td>
                <td class="text-bg-secondary" style="width:160px">发生日期</td>
                <td class="text-bg-secondary" style="width:160px">操作</td>
            </tr>
            </thead>
            <tbody>
            {% if pagination.items %}
                {% for item in pagination.items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.create_datetime|short_time }}</td>
                        <td>{{ item.notes }}</td>
                        <td>{{ item.fee }}</td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.iuser_id | replace_username }}</td>
                        <td>{{ item.cuser_id | replace_username }}</td>
                        <td>{% if item.filename is none %} None {% else %} <a href="/files/{{ item.path }}{{ item.filename }}"
                                                                              target="_blank">file</a> {% endif %}
                        </td>
                        <td>{{ item.feedate.strftime('%Y-%m-%d') }}</td>
                        <td>
                            {% if item.status=="stay" %}
                                <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('fee345.fee4_audit_on',fid=item.id,oid=item.order_id) }}"
                                    onclick="return confirm('Are you sure?');">同意</a>
                                <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('fee345.fee4_audit_off',fid=item.id,oid=item.order_id) }}"
                                    onclick="return confirm('Are you sure?');">拒绝</a>
                            {% else %}
                                <button class="btn btn-sm btn-outline-secondary" href="#" disabled="">同意</button>
                                <button class="btn btn-sm btn-outline-secondary" href="#" disabled="">拒绝</button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="10">{{ render_pagination(pagination,align='center') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">没有查到相关数据</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}