{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% block content %}
    <div class="m-2 p-3 ">
        <ul class="breadcrumb top_row">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li class="active">合同查询</li>
        </ul>
        <br>

        <form action="" role="form" method="post">
            {{ form.csrf_token }}
            <table>
                <tr>
                    <td>{{ form.status.label }}</td>
                    <td class="p-2">{{ form.status() }}</td>
                    <td>{{ form.title.label }}</td>
                    <td class="p-2">{{ form.title() }}</td>
                    <td class="p-2">{{ form.submit }}</td>
                </tr>
            </table>
        </form>
        <br>

        {% if posts %}
            <table class="table table-hover shadow table-bordered align-middle">
                <thead>
                <tr>
                    <th class="text-bg-secondary" style="width:60px">ID</th>
                    <th class="text-bg-secondary">合同名称</th>
                    <th class="text-bg-secondary" style="width:150px">合同编号</th>
                    <th class="text-bg-secondary" style="width:80px">状态</th>
                    <th class="text-bg-secondary" style="width:110px">到帐金额</th>
                    <th class="text-bg-secondary" style="width:110px">发票金额</th>
                    <th class="text-bg-secondary" style="width:150px">处理时间</th>
                    <th class="text-bg-secondary" style="width:220px">操作</th>
                </tr>
                </thead>

                {% for post in posts %}
                    <tr>
                        <td>{{ post.id }}</td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.ordernumber }}</td>
                        <td>{{ post.status }}</td>
                        <td>{{ post.Fee41 }}</td>
                        <td>{{ post.Fee31 }}</td>
                        <td>{{ post.update_datetime | short_time }}</td>
                        <td>
                            {% if post.status=="己审" or post.status=="完成" %}
                                <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('fee345.fee4_audit',oid=post.id) }}">到帐审核</a>
                                <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('fee345.fee3_audit',oid=post.id) }}">发票审核</a>
                            {% else %}
                                <span class="badge">到帐审核</span>
                                <span class="badge">发票审核</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="row">
                <div class="page-footer">{{ render_pagination(pagination,align='center') }}</div>
            </div>

        {% else %}
            <div class="tip"><h5>没有数据.</h5></div>
        {% endif %}

    </div>
{% endblock %}