{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% block content %}
<ul class="breadcrumb top_row">
    <li>字数审核</li>
    <li><a href="{{ url_for('words_audit.order_search') }}">合同查询</a></li>
    <li class="active">字数查看</li>
</ul>
<table class="table table-hover shadow table-bordered align-middle">
    <tbody>
    <tr>
        <td style="width:260px;">合同名称</td>
        <td colspan="3">{{ order.title }}</td>
    </tr>
    <tr>
        <td>合同编号:{{ order.ordernumber }}</td>
        <td style="width:260px;">签约日期:{{ order.contract_date }}</td>
        <td style="width:260px;">经办人:{{ order.name }}</td>
        <td>所属部门:{{ order.group.groupname }}</td>
    </tr>
    <tr>
        <td>录入员:{{ order.iuser_id | replace_username }}</td>
        <td>审核员:{{ order.cuser_id | replace_username }}</td>
        <td>合同状态:{{ order.status }}</td>
        <td>最后处理时间：{{ order.update_datetime }}</td>
    </tr>
    <tr>
        <td>合同金额:{{ order.Fee11 }}</td>
        <td>刊登金额：{{ order.Fee21 }}</td>
        <td>发票金额：{{ order.Fee31 }}</td>
        <td>己发绩效：{{ order.Fee51 }}</td>
    </tr>
    <tr>
        <td>合同字数：{{ order.wordnumber }}</td>
        <td>己发字数：{{ order.wordcount }}</td>
        <td>刊登面积：{{ order.area }}</td>
        <td>己发奖金：{{ order.Fee61 }}</td>
    </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-md-12">
        <fieldset>
            <div>
                {% if pagination.items %}
                <table class="table table-hover shadow table-bordered ">
                    <thead>
                    <tr>
                        <td class="text-bg-secondary" style="width:80px">ID</td>
                        <td class="text-bg-secondary" style="width:150px">录入时间</td>
                        <td class="text-bg-secondary" >备注</td>
                        <td class="text-bg-secondary" style="width:90px">输入</td>
                        <td class="text-bg-secondary" style="width:90px">审核</td>
                        <td class="text-bg-secondary" style="width:150px">记帐日期</td>
                        <td class="text-bg-secondary" style="width:120px">发生额</td>
                        <td class="text-bg-secondary" style="width:90px">状态</td>
                        <td class="text-bg-secondary" style="width:150px">操作</td>
                    </tr>
                    </thead>
                    {% for item in pagination.items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.create_datetime|short_time }}</td>
                        <td>{{ item.notes }}</td>
                        <td>{{ item.iuser_id | replace_username}}</td>
                        <td>{{ item.cuser_id | replace_username}}</td>
                        <td>{{ item.feedate.strftime('%Y-%m-%d') }}</td>
                        <td>{{ item.wordnumber }}</td>
                        <td>{{ item.status }}</td>
                        <td>
                            {% if item.status=="stay" %}
                            <a class="btn btn-sm btn-outline-secondary"
                               href="{{ url_for('words_audit.wordscount_audit_on',fid=item.id,oid=item.order_id,type=type) }}"
                               onclick="return confirm('Are you sure?');">同意</a>
                            <a class="btn btn-sm btn-outline-secondary"
                               href="{{ url_for('words_audit.wordscount_audit_off',fid=item.id,oid=item.order_id,type=type) }}"
                               onclick="return confirm('Are you sure?');">拒绝</a>
                            {% else %}
                            <span class="badge">同意</span>
                            <span class="badge">拒绝</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}

                </table>
                <div>{{ render_pagination(pagination,align='center') }}</div>
                {% else %}
                没有查到
                {% endif %}
            </div>
        </fieldset>


    </div>
</div>
{% endblock %}