{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% block content %}
    <div class="m-2 p-3 ">
        <ul class="breadcrumb top_row">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('order_audit.customer_search') }}">客户查询</a></li>
            <li class="active">客户查看</li>
        </ul>
        <fieldset>
            <legend>客户查看</legend>
            <div class="form-control">
                客户名称:
                {{ customer.name }}
            </div>
            <div>
                {% if posts %}
                    合同：
                    <ul class="list-group">
                        {% for post in posts %}
                            <li class="list-group-item"><a href="/files/{{ post.path }}{{ post.filename }}" target="_blank">{{ post.title }}({{ post.status }})</a>
                        {% endfor %}
                    </ul>
                {% else %}
                    没有合同
                {% endif %}
            </div>
        </fieldset>
    </div>
{% endblock %}