{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% block content %}
    <div class="m-2 p-3 ">
        <ul class="breadcrumb top_row">
            <li>合同审核</li>
            <li class="active">客户查询</li>
        </ul>

        <form action="" role="form" method="post">
            <table>
                <tr>
                    <td>{{ form.csrf_token }}</td>
                    <td>客户名称</td>
                    <td class="p-2">{{ form.title() }}</td>
                    <td>{{ form.submit }}</td>
                </tr>
            </table>
        </form>
        <br>
        {% if posts %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text-bg-secondary" style="width:60px">ID</th>
                    <th class="text-bg-secondary" style="width:350px">客户名称</th>
                    <th class="text-bg-secondary" style="width:80px">状态</th>
                    <th class="text-bg-secondary">备注</th>
                    <th class="text-bg-secondary" style="width:150px">操作</th>
                </tr>
                </thead>

                {% for post in posts %}
                    <tr>
                        <td>{{ post.id }}</td>
                        <td>{{ post.name }}</td>
                        <td>{{ post.status }}</td>
                        <td>{{ post.notes }}</td>
                        <td>
                            <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('order_audit.customer_status',cuid=post.id) }}">状态</a>
                            <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('order_audit.customer_show',cuid=post.id) }}" target="_blank">查看</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="row">
                <div class="page-footer">{{ render_pagination(pagination,align='center') }}</div>
            </div>

        {% else %}
            <div class="tip"><h5>没有数据.</h5></div>
        {% endif %}
    </div>
{% endblock %}