{% extends '/base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% block content %}
<ul class="breadcrumb top_row">
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="{{ url_for('order_audit.customer_search') }}">客户查询</a></li>
    <li class="active">客户查看</li>
</ul>
    <div class="row">
        <div class="col-md-10">
                <fieldset>
                    <legend>客户查看</legend>
                  <div class="form-group">
                        客户名称:
                        {{ customer.name }}
                    </div>
            <div>
                {% if posts %}
                合同：
                <ul class="form-control">
                    {% for post in posts %}
                    <li><a href="/files/{{ post.path }}{{ post.filename}}" target="_blank">{{ post.title }}({{ post.status }})</a>
                    {% endfor %}
                </ul>
                {% else %}
                没有合同
                {% endif %}
            </div>
                </fieldset>


        </div>
    </div>
{% endblock %}