{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% block content %}
<div class="m-2 p-3 ">
    <ul class="breadcrumb top_row">
        <li>合同审核</li>
        <li><a href="{{ url_for('order_audit.order_search') }}">合同查询</a></li>
        <li class="active">合同审核</li>
    </ul>

    <table class="table table-hover shadow table-bordered align-middle">
        <tbody>

        <tr>
            <td colspan="4">客户名称：{{ order.customer.name }}</td>
        </tr>
        <tr>
            <td colspan="4">合同名称：{{ order.title }}</td>
        </tr>
        <tr>
            <td style="width:330px;">录入员：{{ order.iuser_id | replace_username }}</td>
            <td style="width:330px;">签约日期：{{ order.contract_date }}</td>
            <td style="width:330px;">经办人：{{ order.name }}</td>
            <td>所属部门：{{ order.group.groupname }}</td>
        </tr>
        <tr>
            <td>审核员：{{ order.cuser_id | replace_username }}</td>
            <td>合同编号：{{ order.ordernumber }}</td>
            <td>输入时间：{{ order.create_datetime }}</td>
            <td>最后处理时间：{{ order.update_datetime }}</td>
        </tr>
        <tr>
            <td>己刊登面积：{{ order.area }}</td>
            <td>合同金额：{{ order.Fee11 }}</td>
            <td>发票金额：{{ order.Fee31 }}</td>
            <td>己发放绩效刊登额：{{ order.Fee51 }}</td>
        </tr>
        <tr>
            <td>己发字数：{{ order.wordcount }} / 赠送字数：{{ order.wordnumber }}</td>
            <td>刊登金额：{{ order.Fee21 }}</td>
            <td>到帐金额：{{ order.Fee41 }}</td>
            <td>己发放绩效额：{{ order.Fee61 }}</td>
        </tr>


        <tr>
            <td>合同状态：{{ order.status }}{% if order.status=="完成"%}({{ order.end_date }}){%endif%}</td>
            <td colspan="3">附件：{% for post in posts %}
                <a href="/files/{{ post.path }}{{ post.filename }}" target="_blank">{{ post.notes }}</a>
                {% endfor %}
            </td>

        </tr>
        <tr>
            <td colspan="4">备注：{{ order.notes }}</td>
        </tr>
        </tbody>
    </table>


    <form action="" role="form" method="post" >
        {{ form.csrf_token }}
        <fieldset>
            <legend>合同审核</legend>
            <div class="form-control">
                {{ form.status.label }}
                {{ form.status() }}
            </div>
        </fieldset>
        {{ form.submit }}<a href="{{ url_for('order_audit.order_audit',oid=order.id,add_id=1) }}" class="form-control" >下一页</a>
    </form>
</div>
{% endblock %}