{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% block content %}
    <div class="m-2 p-3 ">
        <ul class="breadcrumb top_row">
            <li>刊登金额管理</li>
            <li><a href="{{ url_for('fee2.order_search_admin') }}">合同查询</a></li>
            <li class="active">刊登金额输入</li>
        </ul>
        <br>
 <table class="table table-hover shadow table-bordered align-middle">
        <tbody>
        <tr>
            <td colspan="4">合同名称：{{ order.title }}</td>
        </tr>
        <tr>
            <td style="width:330px;">录入员：{{ order.iuser_id | replace_username }}</td>
            <td style="width:350px;">签约日期：{{ order.contract_date }}</td>
            <td style="width:330px;">合同状态：{{ order.status }}</td>
            <td>合同编号：{{ order.ordernumber }}</td>
        </tr>
        <tr>
            <td>己刊登面积：{{ order.area }}</td>
            <td>合同金额：{{ order.Fee11 }}</td>
            <td>发票金额：{{ order.Fee31 }}</td>
            <td>己发放绩效刊登额：{{ order.Fee51 }}</td>
        </tr>
        <tr>
            <td>己发字数：{{ order.wordcount }}/赠送字数：{{ order.wordnumber }}</td>
            <td>刊登金额：{{ order.Fee21 }}/{{ order.Fee11 }}</td>
            <td>到帐金额：{{ order.Fee41 }}</td>
            <td>己发放绩效额：{{ order.Fee61 }}</td>
        </tr>
        </tbody>
    </table>
        <table class="table table-hover shadow table-bordered align-middle">
            <thead>
            <tr>
                <td class="text-bg-secondary" style="width:80px">id</td>
                <td class="text-bg-secondary" style="width:150px">填写时间</td>
                <td class="text-bg-secondary"  style="width:100px">发生额</td>
                <td class="text-bg-secondary"  >备注</td>
                <td class="text-bg-secondary" style="width:80px">状态</td>
                <td class="text-bg-secondary" style="width:100px">面积</td>
                <td class="text-bg-secondary" style="width:130px">录入</td>
                <td class="text-bg-secondary" style="width:130px">审核</td>
                <td class="text-bg-secondary" style="width:100px">绩效ID</td>
                <td class="text-bg-secondary" style="width:160px">发生日期</td>
            </tr>
            </thead>
            <tbody>
            {% if pagination.items %}
                {% for item in pagination.items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.create_datetime|short_time }}</td>
                        <td>{{ item.fee }}</td>
                        <td>{{ item.notes }}</td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.area }}</td>
                        <td>{{ item.iuser_id | replace_username }}</td>
                        <td>{{ item.cuser_id | replace_username }}</td>
                        <td>{{ item.fee5_id }}</td>
                        <td>{{ item.feedate.strftime('%Y-%m-%d') }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="10">{{ render_pagination(pagination,align='center') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">没有查到相关数据</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <br>

        <form action="" role="form" method="post">
            {{ form.csrf_token }}
            <fieldset>
                <legend>刊登金额输入</legend>
                <div class="form-control">
                    {{ form.fee.label }}
                    {{ form.fee() }}
                    {% for message in form.fee.errors %}
                        <small class="error">{{ message }}</small>
                    {% endfor %}
                </div>
                <div class="form-control">
                    {{ form.area.label }}
                    {{ form.area() }}
                    {% for message in form.area.errors %}
                        <small class="error">{{ message }}</small>
                    {% endfor %}
                </div>
                <div class="form-control">
                    {{ form.fee_date.label }}
                    {{ form.fee_date() }}
                    {% for message in form.fee_date.errors %}
                        <small class="error">{{ message }}</small>
                    {% endfor %}
                </div>
                <div class="form-control">
                    {{ form.notes.label }}
                    {{ form.notes() }}
                </div>
            </fieldset>
            {{ form.submit }}
        </form>
    </div>

{% endblock %}