{% extends 'base.html' %}
{% block content %}
    <div class="m-2 p-3 ">
        <h3>日志数据</h3>
        <br>
        <table class="table table-hover shadow table-bordered ">
            <thead>
            <tr>
                <td class="text-bg-secondary">序号</td>
                <td class="text-bg-secondary">日志ID</td>
                <td class="text-bg-secondary">用户ID</td>
                <td class="text-bg-secondary">日志类型</td>
                <td class="text-bg-secondary">用户IP</td>
                <td class="text-bg-secondary">生成时间</td>
            </tr>
            </thead>
            {% if logs %}
                {% for log in logs %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ log.id }}</td>
                        <td>{{ log.user_id }}</td>
                        <td>{{ log.type }}</td>
                        <td>{{ log.ip }}</td>
                        <td>{{ log.create_datetime }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">未查询到相关数据</td>
                </tr>
            {% endif %}
        </table>
    </div>
{% endblock %}