{% extends 'base.html' %}
{% block content %}
    <div class="m-2 p-3 ">

        <ul class="breadcrumb top_row">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('contract_admin.customer_admin') }}">客户管理</a></li>
            <li class="active">客户修改</li>
        </ul>

        <br>

        <form action="" role="form" method="post">
            {{ form.csrf_token }}
            <fieldset>
                <div class="form-control">
                    {{ form.name.label }}
                    {{ form.name() }}
                </div>
                <div class="form-control">
                    {{ form.notes.label }}
                    {{ form.notes() }}
                </div>
            </fieldset>
            {{ form.submit }}
        </form>
    </div>
{% endblock %}