{% extends '/base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% block content %}
<ul class="breadcrumb top_row">
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li class="active">客户管理</li>
</ul>
<div>
    {% if posts  %}
    <div class="row">
        <ul class="list-group">
            {% for post in posts %}
            <li class="list-group-item">
                {{ post.id }}
                <strong>{{ post.name}}</strong>【{{ post.create_datetime}}】({{ post.status }})
                <span class="badge"><a href="{{ url_for('contract_admin.customer_delete',cuid=post.id) }}" onclick="return confirm('Are you sure?');">
                    删除
                </a></span>
                <span class="badge"><a href="{{ url_for('contract_admin.customer_edit',cuid=post.id) }}">
                    修改
                </a></span>
                <span class="badge"><a href="{{ url_for('contract_admin.customer_status',cuid=post.id) }}">
                    状态
                </a></span>
                <span class="badge"><a href="{{ url_for('contract_admin.order_create',cuid=post.id) }}">
                    新增合同
                </a></span>

            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="page-footer">{{ render_pagination(pagination) }} <a href="{{ url_for('contract_admin.customer_create') }}">新增客户</a></div>
    {% else %}
    <div class="page-footer">没有数据<a href="{{ url_for('contract_admin.customer_create') }}">新增客户</a></div>

    {% endif %}

</div>

{% endblock %}