{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% block content %}
    <div class="m-2 p-3 ">

        <ul class="breadcrumb top_row">
            <li>合同管理</li>
            <li><a href="{{ url_for('contract_admin.order_admin') }}">合同查询</a></li>
            <li class="active">查看合同详情</li>
        </ul>

        <table class="table table-hover shadow table-bordered align-middle">
            <tbody>
            <tr>
                <td style="width:180px;">合同名称</td>
                <td colspan="3">{{ order.title }}</td>
            </tr>
            <tr>
                <td>客户名称</td>
                <td colspan="3">{{ order.customer.name }}</td>
            </tr>
            <tr>
                <td>备注</td>
                <td colspan="3">{{ order.notes }}</td>
            </tr>
            <tr>
                <td>合同编号</td>
                <td style="width:180px;">{{ order.ordernumber }}</td>
                <td style="width:150px;">附件</td>
                <td>{% for post in posts %}
                    <a href="/files/{{ post.path }}{{ post.filename }}" target="_blank">{{ post.notes }}</a>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <td>签约日期</td>
                <td>{{ order.contract_date }}</td>
                <td style="width:150px;">经办人</td>
                <td>{{ order.name }}</td>
            </tr>
            <tr>
                <td>所属部门</td>
                <td>{{ order.name }}</td>
                <td>状态</td>
                <td>{{ order.status }}</td>
            </tr>
            <tr>
                <td>录入员</td>
                <td>{{ order.iuser_id | replace_username }}</td>
                <td>审核员</td>
                <td>{{ order.cuser_id | replace_username }}</td>
            </tr>
            <tr>
                <td>合同金额</td>
                <td>{{ order.Fee11 }}</td>
                <td>己刊登金额</td>
                <td>{{ order.Fee21 }}</td>
            </tr>
            <tr>
                <td>己开发票金额</td>
                <td>{{ order.Fee31 }}</td>
                <td>己到帐金额</td>
                <td>{{ order.Fee41 }}</td>
            </tr>
            <tr>
                <td>己发绩效金额</td>
                <td>{{ order.Fee51 }}</td>
                <td>己发奖金额</td>
                <td>{{ order.Fee61 }}</td>
            </tr>
            <tr>
                <td>己刊登版面数</td>
                <td>{{ order.area }}</td>
                <td>字数</td>
                <td>{{ order.wordcount }}/{{ order.wordnumber }}</td>

            </tr>

            </tbody>
        </table>
    </div>
{% endblock %}