{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% block content %}
    <div class="m-2 p-3 ">

        <ul class="breadcrumb top_row">
            <li>合同管理</li>
            <li><a href="{{ url_for('contract_admin.order_admin') }}">合同查询</a></li>
            <li class="active">附件上传</li>
        </ul>

        <form action="" role="form" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <fieldset>
                <div class="form-group">
                    {{ form.title.label }}
                    {{ form.title() }}
                </div>
                <div class="form-group">
                    {{ form.notes.label }}
                    {{ form.notes() }}
                </div>
                <div class="form-group">
                    {{ form.upfile.label }}
                    {{ form.upfile() }}
                </div>
                <div>
                    <ul class="list-group">
                        {% for post in posts %}
                            <li class="list-group-item"><a href="/files/{{ post.path }}{{ post.filename }}" target="_blank">{{ post.notes }}({{ post.status }})</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </fieldset>
            {{ form.submit }}
        </form>

    </div>
{% endblock %}