{% extends '/base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% block content %}
<ol class="breadcrumb top_row">
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li class="active">合同管理</li>
</ol>
<div class="container">
    <div class="row">
    </div>
        <div class="col-md-6">
            <form action="" role="form" method="post">
                {{ form.csrf_token }}
                <fieldset>
                    <legend>查询条件</legend>
                    <div class="form-group">
                        {{ form.status.label }}
                        {{ form.status() }}
                    </div>
                    <div class="form-group">
                        {{ form.title.label }}
                        {{ form.title() }}
                    </div>
                </fieldset>
                {{ form.submit }}
            </form>
        </div>

    </div>
    <div class="row">
        <div class="col-md-10">
{% if posts %}
<table class="table table-striped">
    <thead>
    <tr>
        <th style="width:60px">ID</th>
        <th >合同名称</th>
        <th style="width:150px">合同编号</th>
        <th style="width:120px">状态</th>
        <th style="width:120px">经办人</th>
        <th style="width:150px">合同日期</th>
        <th style="width:150px">操作</th>
    </tr>
    </thead>

    {% for post in posts %}
    <tr>
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.status }}</td>
        <td>{{ post.name }}</td>
        <td>{{ post.update_time }}</td>
        <td>
        {% if post.i_user_id == session.get("group_id") || session.get: %}
            <span class="badge"><a href="{{ url_for('contract_admin.order_edit',oid=post.id) }}">
                    修改
                </a></span>
            <span class="badge"><a href="{{ url_for('contract_admin.order_show',oid=post.id) }}">
                    查看
                </a></span>
            <span class="badge"><a href="{{ url_for('contract_admin.order_upfiles',oid=post.id) }}">
                    上传附件
                </a></span>
            {% else :%}
            <span class="badge">
                    修改
            </span>
            <span class="badge">
                    查看
            </span>
            <span class="badge">
                    上传附件
            </span>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
        </div> </div>
        <div class="row">
        <div class="page-footer">{{ render_pagination(pagination) }}</div></div>

{% else %}
<div class="tip"><h5>没有数据.</h5></div>
{% endif %}

       </div>
{% endblock %}