{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% block content %}
<div class="m-2 p-3 ">

    <ul class="breadcrumb top_row">
        <li>合同管理</li>
        <li><a href="{{ url_for('contract_admin.order_admin') }}">合同查询</a></li>
        <li class="active">查看合同详情</li>
    </ul>

    <table class="table table-hover shadow table-bordered align-middle">
        <tbody>

        <tr>
            <td colspan="4">客户名称：{{ order.customer.name }}</td>
        </tr>
        <tr>
            <td colspan="4">合同名称：{{ order.title }}</td>
        </tr>
        <tr>
            <td style="width:330px;">录入员：{{ order.iuser_id | replace_username }}</td>
            <td style="width:330px;">签约日期：{{ order.contract_date }}</td>
            <td style="width:330px;">经办人：{{ order.name }}</td>
            <td>所属部门：{{ order.group.groupname }}</td>
        </tr>
        <tr>
            <td>审核员：{{ order.cuser_id | replace_username }}</td>
            <td>合同编号：{{ order.ordernumber }}</td>
            <td>输入时间：{{ order.create_datetime }}</td>
            <td>最后处理时间：{{ order.update_datetime }}</td>
        </tr>
        <tr>
            <td>己刊登面积：{{ order.area }}</td>
            <td><a href="{{ url_for('contract_admin.fee1_show',oid=order.id) }}">合同金额：{{ order.Fee11 }}</a></td>
            <td><a href="{{ url_for('fee345.fee3_show',oid=order.id) }}">发票金额：{{ order.Fee31 }}</a></td>
            <td><a href="{{ url_for('fee5.fee5_show',oid=order.id) }}">己发放绩效刊登额：{{ order.Fee51 }}</a></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('words_admin.words_public_show',oid=order.id) }}">己发字数：{{ order.wordcount }}</a>
                /<a href="{{ url_for('words_admin.words_order_show',oid=order.id) }}">赠送字数：{{ order.wordnumber }}</a></td>
            <td><a href="{{ url_for('fee2.fee2_show',oid=order.id) }}">刊登金额：{{ order.Fee21 }}</a></td>
            <td><a href="{{ url_for('fee345.fee4_show',oid=order.id) }}">到帐金额：{{ order.Fee41 }}</a></td>
            <td>己发放绩效额：{{ order.Fee61 }}</td>
        </tr>


        <tr>
            <td>合同状态：{{ order.status }}{% if order.status=="完成"%}({{ order.end_date }}){%endif%}</td>
            <td colspan="3">附件：{% for post in posts %}
                <a href="/files/{{ post.path }}{{ post.filename }}" target="_blank">{{ post.notes }}</a>
                {% endfor %}
            </td>

        </tr>
        <tr>
            <td colspan="4">备注：{{ order.notes }}</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}