{% extends 'base.html' %}
{% block content %}
    <div class="m-2 p-3 ">

        <p>有欠款的合同</p>
        <table class="table table-hover shadow table-bordered">
            <thead>
            <tr>
                <td class="text-bg-secondary">序号</td>
                <td class="text-bg-secondary">合同号</td>
                <td class="text-bg-secondary">合同金额</td>
                <td class="text-bg-secondary">刊登金额</td>
                <td class="text-bg-secondary">到账金额</td>
                <td class="text-bg-secondary">未到账金额</td>
                <td class="text-bg-secondary">经办人</td>
            </tr>
            </thead>
            <tbody>
            {% for order in red %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        <a href="/contract/order_show/{{ order.id }}">{{ order.title }}</a>
                    </td>
                    <td>{{ order.Fee11 }}</td>
                    <td>{{ order.Fee21 }}</td>
                    <td>{{ order.Fee41 }}</td>
                    <td class="text-danger">{{ (order.Fee21 - order.Fee41) | round(2) }}</td>
                    <td>{{ order.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>
        <br>
        <p>已到账的合同</p>
        <table class="table table-hover shadow table-bordered">
            <thead>
            <tr>
                <td class="text-bg-secondary">序号</td>
                <td class="text-bg-secondary">合同号</td>
                <td class="text-bg-secondary">合同金额</td>
                <td class="text-bg-secondary">刊登金额</td>
                <td class="text-bg-secondary">到账金额</td>
                <td class="text-bg-secondary">经办人</td>
            </tr>
            </thead>
            <tbody>
            {% for order in black %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        <a href="/contract/order_show/{{ order.id }}">{{ order.title }}</a>
                    </td>
                    <td>{{ order.Fee11 }}</td>
                    <td>{{ order.Fee21 }}</td>
                    <td>{{ order.Fee41 }}</td>
                    <td>{{ order.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}