<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{{ url_for('static',filename='js/echarts.min.js') }}"></script>
    <title>this is temp</title>
</head>
<body>
this is temp

<div id="main" style="width: 600px;height:400px;"></div>
<script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('main'));

      // 指定图表的配置项和数据

    option = {
    xAxis: { type: 'value' },
    yAxis: {
        type: 'category',
        data: ['合同金额', '刊登金额', '发票金额', '到帐金额', '己核算绩效']
    },
    series: [
        {
        data: [
        {
            value: 200,
            title: 200,
            itemStyle: {
                color: '#a90000'
            }
        },
        150,
        97,
        70,
        110,
        130
      ],
      type: 'bar',

      barWidth: '30',
      label: {
        show: true,
        position: 'top', // 顶部显示
        formatter: '{c}' // 显示数据值
      }
    }
  ]
};


      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);


</script>
</body>
</html>